<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span> Registra Appuntamento</span>
        <span class="speacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
        <div fxFlex fxLayout="coloumn">
            <div fxLayout="row wrap">
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Data</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="data">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('data')?.invalid || form.get('data')?.dirty || form.get('data')?.touched">Data Invalida</mat-error>  
                </mat-form-field>
                <mat-label class="me-3">Test Drive:</mat-label>
                <br>
                <mat-radio-group aria-label="Test Drive" color="primary" formControlName="testDrive">
                    <br>
                    <mat-radio-button value="true">Si 
                    </mat-radio-button>
                    <mat-divider></mat-divider>
                    <span></span>
                    <mat-radio-button value="false">No  </mat-radio-button>
                  </mat-radio-group>
            </div>
        </div>
    </form>
</mat-dialog-content>
<div mat-dialog-action align="end">
    <button mat-raised-button mat-dialog-close (click)="cancellaRegistrazione()">Cancella</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="aggiungiAppuntamento()"[disabled]="form.invalid">Aggiungi</button>
</div>

