<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">I nostri marchi</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Fiat</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">L'acronimo F.I.A.T. significa Fabbrica Italiana Automobili Torino, ma il nome FIAT vuol dire molto di più. Fondata nel 1899, l'azienda torinese è diventata negli anni un simbolo dell'Italia lavoratrice, una realtà che ha cambiato per sempre il Paese e la storia della mobilità globale. La personalità della famiglia Agnelli, il genio e la visione progettuale di Dante Giacosa e la lungimiranza di Vittorio Valletta. Le espansioni verso gli Stati Uniti e la Russia, ma anche la presenza a Torino con il Lingotto e Mirafiori. La primissima Fiat 3 1/2 HP, l'indimenticabile "Topolino", l'iconica 500, ma anche altre pietre miliari della mobilità come la 600, la 124 e la Panda. La crescita aziendale, le fusioni e le acquisizioni. Oltre 120 anni di eventi, personaggi, evoluzioni del logo aziendale e naturalmente vetture: una lunga storia raccontata sul sito di FCA Heritage.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Alfa Romeo</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Il 24 giugno 1910 viene fondata a Milano una nuova società: A.L.F.A (Anonima Lombarda Fabbrica Automobili). Sarà l'imprenditore napoletano Nicola Romeo a rilevare l'azienda e a cambiare il suo nome in Alfa Romeo. Lo stesso anno, Ugo Stella e Giuseppe Merosi, primo capo ingegnere della società, firmano un accordo per la realizzazione di due vetture, denominate rispettivamente 24 HP e 12 HP in riferimento alla loro potenza.Nel 1923, il brand raggiunge il suo primo risultato storico: Ugo Sivocci vince la Targa Florio a bordo dell'Alfa Romeo RL: sarà la prima di 10 vittorie del brand nella celebre corsa su strada siciliana.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Abarth</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Abarth nasce dalla fantasia e dal coraggio di Karl Abarth.
                            La nostra è una storia densa di record e grandi innovazioni, è la storia di un uomo e delle sue auto speciali, le stesse che hanno segnato in maniera indelebile l'automobilismo italiano e internazionale. 
                            Abarth nasce con Karl Abarth, il 15 novembre del 1908, sotto il segno dello Scorpione.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Fiat Professional</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Alla metà degli anni settanta, il gruppo Fiat si riorganizza in settori d'attività indipendenti con la creazione di società specializzate: automobili con Fiat Auto; veicoli industriali con Fiat V.I. poi nel 1975 con la creazione di IVECO – tappa molto importante nella storia del trasporto merci - e nasce la divisione Fiat Veicoli Commerciali Derivati.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Ieri
                        <br />
                        Oggi
                        <br />
                        Domani
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>