<mat-card>
    <b><span>Ordine</span></b>
    <button mat-flat-button color="primary" class="float-right" (click)="handleAddAutoAction()">
      Aggiungi Ordine Auto
  </button>
</mat-card>
<mat-card>
  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>


  <ng-container matColumnDef="conforme">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Conforme </th>
    <td mat-cell *matCellDef="let row"> {{row.conforme}} </td>
  </ng-container>

  <ng-container matColumnDef="dataOrdine">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Ordine </th>
    <td mat-cell *matCellDef="let row"> {{row.dataOrdine}} </td>
  </ng-container>

  <ng-container matColumnDef="importo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Importo </th>
    <td mat-cell *matCellDef="let row"> {{row.importo}} </td>
  </ng-container>

  <ng-container matColumnDef="casaProduttrice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Casa Produttrice</th>
    <td mat-cell *matCellDef="let row"> {{row.casaProduttrice.ragioneSociale}} </td>
  </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColoumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColoumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

